services:
  - type: web
    name: sctco-inventory-backend
    runtime: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    env:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
      - key: JWT_SECRET
        generateValue: true
    envFile: .env
